html {
  background-color: #11111b;
  color: #cdd6f4;
}

section {
  background-color: #181825;
  flex-wrap: wrap;
}

article {
  background-color: #1e1e2e;
  flex-direction: column;
}

section,
article {
  border: 1px solid #cba6f7;
  border-radius: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a {
  text-decoration: none;
  color: #cdd6f4;
}

p,
h4,
h5 {
  color: #a6adc8;
}

h2,
h3 {
  color: #bac2de;
}